@page
@model JustAnotherTapasRestaurant.Pages.Menu.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Stock)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MenuItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayNameFor(Model => Model.MenuItem[0].ImageDescription)
            </td>
           
                @{
                    try
                    {
                        <td>
                            <img = src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageData))" alt="@item.ImageDescription" />
                        </td>
                    }
                    catch
                    {
                        <td>
                            <img class="img-thumb" src="/img/kermit.jpg" alt="No Image provided" />
                        </td>
                    }
                }
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
